<h1 class="text-center"> Welcome, <%= current_user.username %>!</h1>
  <h2 class="text-center"> 
        <a class="btn btn-primary" href="/favorites/new">Create your favorite</a>
     </h2>

<ul><% @favorites.each do |favorite|%></ul>
    <h3 class="text-center"><a href="favorites/<%=favorite.id%>"> <li><%=favorite.content%></li></a></h3>
<% end %>


    