<form class ="text-center" method="POST" action="/signup">
    <label>Username: </label>
    <input type="text" name="username" required>
    <br>
    <label>Email: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input type="email" name="email" required>
    <br>
    <label>Password: &nbsp;</label>
    <input type="password" name="password" required>
    <br>
    <button class="btn btn-primary" type="submit" id="submit" class="registerbtn">Register</button>
    <br>
</form>