
    <body class="text-center">
    <form method="POST" action="/signup">
    <label for="username"><b>Username:</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>
     <br> <br>
    <label for="email"><b>Email:</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>
     <br> <br>
    <label for="psw"><b>Password:</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
     <br> <br>
    <button class="btn btn-primary" type="submit" class="registerbtn">Register</button>
    </form>
    </body>

  
  