<div class="container">
  <div id="grad1" class="jumbotron">
    <h1 class="text-center" style="color: lightblue">Favorite Lists</h1>
      <p class="text-center">
        <a class="btn btn-primary" href="/signup">Sign Up</a> or
        <a class="btn btn-primary" href="/login">Log In</a>
      </p>
  </div>

    